
#l1
{
    width: 40%;
    height:max-content;
    margin-top: 2%;
    background-color:white;
    border-radius: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    gap:10%;
    flex-direction: column;
}
.l2
{
    width: 60%;
     display: flex;
      gap:10px;
      justify-content: space-around;
     
      height:80%;
     flex-direction: column;
}
body{
    display: flex; align-items: center; justify-content: center;
    background-color: dodgerblue;
}
#inbox
{
    width: 80%;
    height: 30px;
    text-indent: 10px;
    border-radius: 10px;
    border: 1px solid gray  ;
}
#regbtn
{
background-color: dodgerblue;
border-radius: 10px;
font-family: 'Times New Roman', Times, serif;
border: none;
color: white;
font-size: 20px;
}